!!!
html
  head
    title Spaceshooter
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/jquery-1.8.2.min.js')
    script(src='/javascripts/spaceshooter.js')
  body!= body